
  .logo-link:hover, 
  .header-auth-link:hover,
  .form-login-link,
  .terms-acception-link {
	color: #0800e4;
  }
  
  .header-icons-link:hover .header-icons-path {
	fill: #0800e4;
  }
  
  .form-title::before {
	background: #0800e4;
  }
  
  .form-login-link:hover {
	color: #0800e4;
	text-decoration: underline #040074;
  }
  
  .terms-acception-text::after {
	content: url(../img/checkbox-blue.svg);
  }
  
  .terms-acception-text:hover .terms-acception-link {
	color: #0800e4;
	border-bottom: 1px solid #04007a;
  }
  
  .form-submit-button {
	background: #0800e4b9;
  }
  
  .form-submit-button:hover {
	background-color: #0800e4;
  }

  .btn-change-theme {
	background-color: #3cb878;
  }

  .btn-change-theme:hover {
	background-color: #01813f;
  }
  