* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 400px;
    height: 400px;
    border: 1px solid grey;
    border-radius: 10px;
    overflow: hidden;

}


.btn-container {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
button {
    display: block;
    width: fit-content;
    padding: 10px 40px;
    max-width: 300px;
    background: gray;
    border-radius: 10px;
    border: none;
    outline: unset;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    opacity: .7;
    cursor: pointer;
    transition: .1s ease;
    user-select: none;
}
button:hover {
    background: #1ecaab;
    opacity: 1;
}

.img-wrapper {
    transition: 800ms ease-out;
    display: flex;
    /* width: 400px;
    height: 400px; */

}

.hidden {
    display: none;
  }
.active {
    display: block;
  }

.image-to-show {
    width: 400px;
    height: 400px;}



